<!-- <p>posts-list works! {{ postListTitle }}</p>

<p>posts-list works! {{ postIsLogin }}</p>

<button (click)="sendMessage()">Send message to parent</button> -->

<!-- <app-card>
  <h2>Blog List works</h2>
  <p>01/28/24</p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum dolor magni,
    quidem fugiat vel ipsam quisquam fugit cupiditate officia voluptatum
    repellendus praesentium atque vero optio quos consequatur voluptatibus
    tempore. Voluptates.
  </p>
</app-card> -->

<h1>Loading posts list</h1>
