<!-- <h1>{{ appPostTitle }}</h1>
<app-posts-list
  [postListTitle]="appPostTitle"
  [postIsLogin]="appIsLogin"
  (MessageEvent)="receiveMessage($event)"
></app-posts-list>
<h2>Get Message From Child Component: {{ message }}</h2>
<h2>Get Message From Child Component 12: {{ messageFromChild }}</h2>
<app-card>
  <h2>John Doe</h2>
  <p>01/28/24</p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum dolor magni,
    quidem fugiat vel ipsam quisquam fugit cupiditate officia voluptatum
    repellendus praesentium atque vero optio quos consequatur voluptatibus
    tempore. Voluptates.
  </p>
</app-card> -->

<!-- <app-posts-list></app-posts-list> -->
<!-- <app-card>
  <span header>username</span>
  <h1 body>John Doe</h1>
  <button footer>View Profile</button>
</app-card> -->

<!-- <app-posts-list></app-posts-list> -->
<!-- <div *ngComponentOutlet="loadComponent()"></div> -->
<!-- <button (click)="loadComponent()">Create component</button>
<button (click)="removeComponent()">Remove component</button>
<app-profile [pUserName]="userName"></app-profile>

<button (click)="changeUser()">Change User Name</button> -->

<app-profile>
  <p>Content Projected From Parent</p>
</app-profile>
